.tender-cell {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100px;
}
.tender-cell.expanded {
    white-space: normal;
    max-width: none;
}
.tender-row:hover {
    cursor: pointer;
    box-shadow: 0 0 5px gray;
}
.form-control-width {
    width: 200px;
}
.pagination {
    text-align: center;
}
.pagination a, .pagination .page-disabled {
    display: inline-block;
    border: solid 1px gray;
    border-radius: 3px;
    padding: 5px;
    margin: 3px;
}
.pagination a {
    background: gray;
    color: white;
    text-decoration: none;
}
.pagination a:hover {
    background: gray;
    color: black;
}
.pagination .page-disabled {
    background: gray;
    color: #dddddd
}
.pagination .current-page {
    display: inline-block;
}
.pagination .current-page input {
    width: 50px;
    padding: 5px 7px;
    font-size: inherit;
    border-radius: 5px;
    text-align: center;
    border: solid 1px gray;
}

.modal-content {
  display: none;
  position: fixed;
  z-index: 999;
  top: 50%;
  left: 50%;
  transform: translate(51%, -3%);
  width: 100%;
  max-width: 507px;
  overflow-y: auto;
  background-color: #fefefe;
  padding: 20px;
  box-sizing: border-box;
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  color: #aaa;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

b {
  margin-right: 5px;
  float: left;
}
