<div class="modal fade" id="exampleModalEnsTru" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabelEnsTru">Коды ЕНС ТРУ</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="modal-button text-end">

                    <!--Загрузка Excel файла-->
                    <form id="upload-form" method="post" enctype="multipart/form-data" class="row g-3">
                        {% csrf_token %}
                        <div class="col-auto">
                            <input class="form-control" type="file" name="enstru_excel_file" id="excel-file-input">
                        </div>
                        <div class="col-auto">
                            <button type="submit" class="btn btn-outline-dark mb-3" id="upload-button">Загрузить из
                                файла
                            </button>
                        </div>
                    </form>

                    <!--Процесс загрузки-->
                    <div id="progress-container" style="display: none;">
                        <div class="progress">
                            <div class="progress-bar progress-bar-striped progress-bar-animated" id="progress-bar"
                                 role="progressbar"
                                 style="width: 0%"></div>
                        </div>
                        <div id="progress-status"></div>
                    </div>
                </div>
                <table class="table table-bordered table-hover mt-3" id="EnsTruTableModal">
                    <thead class="table-primary" id="EnsTruTableHead">
                    <!--                        Сюда добавляются заголовки столбцов-->
                    </thead>
                    <tbody id="EnsTruTableBody">
                    <!--                        Сюда добавляются коды ЕНС ТРУ-->
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                <button class="btn btn-primary" data-bs-target="#addEnsTruCodeModal" data-bs-toggle="modal">
                    Добавить
                </button>
            </div>
        </div>
    </div>
</div>
