<div class="modal fade" id="addEnsTruCodeModal" tabindex="-1" aria-labelledby="addEnsTruCodeModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addEnsTruCodeModalLabel">Добавление кода ЕНС ТРУ</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="addEnsTruCodeForm" method="post">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="ensTruCodeInput" class="form-label">Код ЕНС ТРУ:</label>
                        <input type="text" class="form-control" id="ensTruCodeInput" name="ensTruCodeInput" required>
                    </div>
                    <div class="mb-3">
                        <label for="ensTruCodeInput" class="form-label">Наименование:</label>
                        <input type="text" class="form-control" id="ensTruNameInput" name="ensTruNameInput" required>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отмена</button>
                <button type="button" class="btn btn-primary" id="saveEnsTruCodeButton">Сохранить</button>
            </div>
        </div>
    </div>
</div>
