<div class="modal fade" id="exampleModalEnsTru" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabelEnsTru">Коды ЕНС ТРУ</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="modal-button text-end">
                    <button type="button" class="btn btn-primary" id="addButton">Добавить</button>
                </div>
                <table class="table table-bordered table-hover mt-3" id="EnsTruTableModal">
                    <thead class="table-primary" id="EnsTruTableHead">
                    <!--                        Сюда добавляются заголовки столбцов-->
                    </thead>
                    <tbody id="EnsTruTableBody">
                    <!--                        Сюда добавляются коды ЕНС ТРУ-->
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
            </div>
        </div>
    </div>
</div>
