<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Объявления</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p id="tenderCount"></p>
                <table class="table table-bordered table-hover mt-3" id="tenderTableModal">
                    <thead class="table-primary" id="tenderTableHead">
                    <!--                        Сюда добавляются заголовки столбцов-->
                    </thead>
                    <tbody id="tenderTableBody">
                    <!--                        Сюда добавляются полученные данные из портала госзакупок-->
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                <button type="button" class="btn btn-primary" id="saveBtn">Сохранить</button>
            </div>
        </div>
    </div>
</div>
