{% if lot.plans.all %}
    {% if lot.plans.all|length <= 1 %}
        {% for plan in lot.plans.all %}
            {% if plan.price %}
                <td class="tender-cell">KZT {{ plan.price }}</td>
            {% else %}
                <td class="tender-cell">{{ plan.price }}</td>
            {% endif %}
                <td class="tender-cell">{{ plan.count }}</td>
            {% for unit in plan.ref_units.all %}
                <td class="tender-cell">{{ unit.name_ru }}</td>
            {% endfor %}
            {% if plan.amount %}
                <td class="tender-cell">KZT {{ plan.amount }}</td>
            {% else %}
                <td class="tender-cell">{{ plan.amount }}</td>
            {% endif %}
            <td class="tender-cell">{{ plan.supply_date_ru }}</td>
            <td data-field="lot" class="modal-trigger text-center" data-cell-id="{{ lot.calculations.first.id }}"
                data-lot="{{ tender.lot }}">
                <button class="btn btn-secondary">
                    Подробнее
                </button>
            </td>
            <!--Модальное окно с подробной информацией о тендере-->
            {% include 'partial/tender_details_modal.html' %}
        {% endfor %}
    {% else %}
        <td class="tender-cell"></td>
        <td class="tender-cell"></td>
        <td class="tender-cell"></td>
        <td class="tender-cell"></td>
        <td class="tender-cell"></td>
        <td data-field="lot" class="modal-trigger text-center" data-cell-id="{{ lot.calculations.first.id }}"
        data-lot="{{ tender.lot }}">
        <button class="btn btn-secondary">
            Подробнее
        </button>
        </td>
        <!--Модальное окно с подробной информацией о тендере-->
        {% include 'partial/tender_details_modal.html' %}
        {% for plan in lot.plans.all %}
            <tr class="tender-row">
                <td class="tender-cell"></td>
                <td class="tender-cell"></td>
                <td class="tender-cell"></td>
                <td class="tender-cell"></td>
                <td class="tender-cell"></td>
                <td class="tender-cell">{{ plan.price }}</td>
                <td class="tender-cell">{{ plan.count }}</td>
                {% for unit in plan.ref_units.all %}
                    <td class="tender-cell">{{ unit.name_ru }}</td>
                {% endfor %}
                <td class="tender-cell">{{ plan.amount }}</td>
                <td class="tender-cell">{{ plan.supply_date_ru }}</td>
            </tr>
        {% endfor %}
    {% endif %}
{% else %}
    <td class="tender-cell"></td>
    <td class="tender-cell"></td>
    <td class="tender-cell"></td>
    <td class="tender-cell"></td>
    <td class="tender-cell"></td>
    <td data-field="lot" class="modal-trigger text-center" data-cell-id="{{ lot.calculations.first.id }}"
        data-lot="{{ tender.lot }}">
        <button class="btn btn-secondary">
            Подробнее
        </button>
    </td>
    <!--Модальное окно с подробной информацией о тендере-->
    {% include 'partial/tender_details_modal.html' %}
{% endif %}