{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="icon" type="image/x-icon" href="{% static 'media/favicon.ico' %}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <title>{% block title %}Document{% endblock %}</title>
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
</head>
<body>
<header class="main_header mb-3 pt-3">
    <div class="container">
        <nav class="navbar navbar-expand-lg">
            <div class="container-fluid">
                <a class="navbar-brand m-0 p-0" href="{% url 'index' %}">
                    <img src="{% static 'media/logo.png' %}" alt="" width="150" height="30"
                         class="d-inline-block align-text-center">
                </a>
                <div class="navbar_item ms-5">
                    {% block navbar_item %}{% endblock %}
                </div>
                {% block menu %}{% endblock %}
                <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
                    <ul class="navbar-nav">
                        {% if user.is_authenticated %}
                        <li class="nav-item d-flex align-items-center">
                            <p class="welcome_user m-0">Добро пожаловать, {{ request.user.username.capitalize }}</p>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="{% url 'logout' %}">
                                <img src="{% static 'media/logout.svg' %}" alt="logout" width="150" height="30">
                            </a>
                        </li>
                        {% else %}
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="{% url 'login' %}">
                                <img src="{% static 'media/login.svg' %}" alt="login" width="150" height="30">
                            </a>
                        </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>
    </div>
</header>
<div class="main_content mb-5">
    <div class="container">
        <div class="content_heading pt-3 pb-3">
            <h5 class="page_name">{% block content_heading %}{% endblock %}</h5>
        </div>
        {% block content %}{% endblock %}
    </div>
</div>

<script src="{% static 'js/tenderTableHideNone.js' %}"></script>
<script src="{% static 'js/selectAllTenders.js' %}"></script>
<script src="{% static 'js/expandTable.js' %}"></script>
<script src="{% static 'js/uploadProgress.js' %}"></script>
<script src="{% static 'js/uploadTendersByGraphQL.js' %}"></script>
<script src="{% static 'js/saveSelectedTenders.js' %}"></script>
<script src="{% static 'js/loadEnsTruCodes.js' %}"></script>
<script src="{% static 'js/tenderDetailsModal.js' %}"></script>
<script src="{% static 'js/addEnsTruCode.js' %}"></script>
</body>
</html>