{% extends 'base.html' %}
{% block title %}Главная страница{% endblock %}
{% block navbar_item %}
{% include 'partial/search_form.html' %}
{% endblock %}
{% block content_heading %}
<h3>Тендеры</h3>
{% endblock %}
{% block content %}

<!--Загрузка Excel файла-->
<form id="upload-form" method="post" enctype="multipart/form-data" class="row g-3">
    {% csrf_token %}
    <div class="col-auto">
        <input class="form-control" type="file" name="excel_file" id="excel-file-input">
    </div>
    <div class="col-auto">
        <button type="submit" class="btn btn-outline-dark mb-3" id="upload-button">Загрузить из файла</button>
    </div>
</form>

<!--Процесс загрузки-->
<div id="progress-container" style="display: none;">
    <div class="progress">
        <div class="progress-bar progress-bar-striped progress-bar-animated" id="progress-bar" role="progressbar"
             style="width: 0%"></div>
    </div>
    <div id="progress-status"></div>
</div>

<!--Поиск по коду ЕНС ТРУ. Если значение пустое, то загружает все объявления-->
<div class="d-flex tenders_search mt-3 pb-5" id="searchForm">
    <input class="form-control me-2" type="search" placeholder="Введите код ЕНС ТРУ" aria-label="Search"
           style="width: 280px;" name="search_value" id="searchValueInput">
    <button type="button" class="btn btn-outline-dark me-3" data-bs-toggle="modal" data-bs-target="#exampleModal"
            id="loadTendersBtn">Загрузить
    </button>
    <!--Модальное окно с полученными объявлениями-->
    {% include 'partial/tenders_modal.html' %}

    <button type="button" class="btn btn-outline-dark me-3" data-bs-toggle="modal" data-bs-target="#exampleModalEnsTru"
            id="loadEnsTruCodesBtn">Коды ЕНС ТРУ
    </button>
    <!--Модальное окно с кодами ЕНС ТРУ-->
    {% include 'partial/enstru_codes_modal.html' %}
    <!-- Форма добавления данных -->
    {% include 'partial/enstru_code_create.html' %}
</div>

{% if messages %}
{% for message in messages %}
{% if message.tags == "success" %}
<p style="color: green">{{ message }}</p>
{% else %}
<p style="color: red">{{ message }}</p>
{% endif %}
{% endfor %}
{% endif %}
{% if is_paginated %}
{% include 'partial/pagination.html' %}
{% endif %}
{% if lots %}
<p>Количество объявлений: {{ lots|length }}</p>

<!--Вывод объявлений из БД-->
<table class="table table-bordered table-hover mt-3" id="tenderTable">
    <thead class="table-primary">
    <tr>
        <th scope="col">№ объявления</th>
        <th scope="col">№ лота</th>
        <th scope="col">Учреждение</th>
        <th scope="col">Наименование</th>
        <th scope="col">Доп. инфо Т.С.</th>
        <th scope="col">Цена за единицу</th>
        <th scope="col">Количество</th>
        <th scope="col">Единица измерения</th>
        <th scope="col">Плановая сумма</th>
        <th scope="col">Срок поставки</th>
        <th scope="col">Подробная информация</th>
    </tr>
    </thead>
    {% for lot in lots %}
    <tbody>
    <tr class="tender-row" data-tender-id="{{ lot.id }}">
        <td class="tender-cell">{{ lot.trd_buy.number_anno }}</td>
        <td class="tender-cell">{{ lot.lot_number }}</td>
        <td class="tender-cell">{{ lot.customer_name_ru }}</td>
        <td class="tender-cell">{{ lot.name_ru }}</td>
        <td class="tender-cell">{{ lot.description_ru }}</td>
        <!--        Загрузка планов-->
        {% if lot.plans.all %}
        {% for plan in lot.plans.all %}
        {% if plan.price %}
        <td class="tender-cell">KZT {{ plan.price }}</td>
        {% else %}
        <td class="tender-cell">{{ plan.price }}</td>
        {% endif %}
        <td class="tender-cell">{{ plan.count }}</td>
        {% for unit in plan.ref_units.all %}
        <td class="tender-cell">{{ unit.name_ru }}</td>
        {% endfor %}
        {% if plan.amount %}
        <td class="tender-cell">KZT {{ plan.amount }}</td>
        {% else %}
        <td class="tender-cell">{{ plan.amount }}</td>
        {% endif %}
        <td class="tender-cell">{{ plan.supply_date_ru }}</td>
        {% endfor %}
        {% endif %}
        <td data-field="lot" class="modal-trigger text-center" data-cell-id="{{ lot.id }}"
            data-lot="{{ tender.lot }}">
            <button class="btn btn-secondary">
                Подробнее
            </button>
        </td>
        <!--Модальное окно с подробной информацией о тендере-->
        {% include 'partial/tender_details_modal.html' %}
    </tr>
    </tbody>
    {% endfor %}
</table>

{% else %}
<p class="no_tenders mt-3">Объявления не добавлены</p>
{% endif %}
{% if is_paginated %}
{% include 'partial/pagination.html' %}
{% endif %}
{% endblock %}
