{% extends 'base.html' %}
{% block title %}Главная страница{% endblock %}
{% block navbar_item %}
{% include 'partial/search_form.html' %}
{% endblock %}
{% block content_heading %}
<h3>Тендеры</h3>
{% endblock %}
{% block content %}

<!--Загрузка Excel файла-->
<form id="upload-form" method="post" enctype="multipart/form-data" class="row g-3">
    {% csrf_token %}
    <div class="col-auto">
        <input class="form-control" type="file" name="excel_file" id="excel-file-input">
    </div>
    <div class="col-auto">
        <button type="submit" class="btn btn-outline-dark mb-3" id="upload-button">Загрузить из файла</button>
    </div>
</form>

<!--Процесс загрузки-->
<div id="progress-container" style="display: none;">
    <div class="progress">
        <div class="progress-bar progress-bar-striped progress-bar-animated" id="progress-bar" role="progressbar"
             style="width: 0%"></div>
    </div>
    <div id="progress-status"></div>
</div>

<!--Поиск по коду ЕНС ТРУ. Если значение пустое, то загружает все объявления-->
<div class="d-flex tenders_search mt-3" id="searchForm">
    <input class="form-control me-2" type="search" placeholder="Введите код ЕНС ТРУ" aria-label="Search"
           style="width: 280px;" name="search_value" id="searchValueInput">
    <button type="button" class="btn btn-outline-dark me-3" data-bs-toggle="modal" data-bs-target="#exampleModal"
            id="loadTendersBtn">Загрузить
    </button>
    <!--Модальное окно с полученными объявлениями-->
    {% include 'partial/tenders_modal.html' %}

    <button type="button" class="btn btn-outline-dark me-3" data-bs-toggle="modal" data-bs-target="#exampleModalEnsTru"
            id="loadEnsTruCodesBtn">Коды ЕНС ТРУ
    </button>
    <!--Модальное окно с кодами ЕНС ТРУ-->
    {% include 'partial/enstru_codes_modal.html' %}
</div>

{% if messages %}
{% for message in messages %}
{% if message.tags == "success" %}
<p style="color: green">{{ message }}</p>
{% else %}
<p style="color: red">{{ message }}</p>
{% endif %}
{% endfor %}
{% endif %}
{% if is_paginated %}
{% include 'partial/pagination.html' %}
{% endif %}
{% if tenders %}

<!--Вывод объявлений из БД-->
<table class="table table-bordered table-hover mt-5" id="tenderTable">
    <thead class="table-primary">
    <tr>
        <th scope="col">№ лота</th>
        <th scope="col">Учреждение</th>
        <th scope="col">Наименование</th>
        <th scope="col">Доп. инфо Т.С.</th>
        <th scope="col">Цена за единицу</th>
        <th scope="col">Количество</th>
        <th scope="col">Единица измерения</th>
        <th scope="col">Плановая сумма</th>
        <th scope="col">Срок поставки</th>
    </tr>
    </thead>
    {% for tender in tenders %}
    <tbody>
    <tr class="tender-row" data-tender-id="{{ tender.id }}">
        <td class="tender-cell">{{ tender.lot.lot_number }}</td>
        <td class="tender-cell">{{ tender.lot.customer_name_ru }}</td>
        <td class="tender-cell">{{ tender.lot.name_ru }}</td>
        <td class="tender-cell">{{ tender.lot.description_ru }}</td>
        {% if tender.lot.plans.price is not null %}
        <td class="tender-cell">KZT {{ tender.lot.plans.price }}</td>
        {% else %}
        <td class="tender-cell">{{ tender.lot.plans.price }}</td>
        {% endif %}
        <td class="tender-cell">{{ tender.lot.plans.count }}</td>
        <td class="tender-cell">{{ tender.lot.plans.ref_units.name_ru }}</td>
        <td class="tender-cell">KZT {{ tender.lot.plans.amount }}</td>
        <td class="tender-cell">{{ tender.lot.plans.supply_date_ru }}</td>
        <td data-field="proposed_product_name" class="modal-provider-name">
            <button class="btn btn-primary"
                    onclick="window.open('{% url 'similar_products' tender.id %}','popup','width=600,height=600'); return false;">
                Подобрать
            </button>
        </td>
        <td data-field="lot" class="modal-trigger" data-cell-id="{{ tender.id }}"
            data-lot="{{ tender.lot }}">Подробнее
        </td>
    </tr>
    </tbody>
    {% endfor %}
</table>

<!--Модальное окно с подробной информацией о тендере-->
<div class="modal modal-dialog-scrollable" id="myModal" style="height: 100%">
    <div class="modal-dialog">
        <div class="modal-content" style="padding: 30px">
            <span class="close"></span>
            <div><b>
                Лот:
            </b>
                <p id="modal-lot"></p>
            </div>
            <div><b>Учреждение: </b>
                <p id="modal-company"></p></div>
            <div><b>Наименование: </b>
                <p id="modal-name"></p></div>
            <div><b>Цена за единицу: </b>
                <p id="modal-price_per_unit"></p></div>
            <div><b>Количество: </b>
                <p id="modal-quantity"></p></div>
            <div><b>Плановая сумма: </b>
                <p id="modal-planned_amount"></p></div>
            <div><b>Срок поставки: </b>
                <p id="modal-delivery_deadline"></p></div>
            <div><b>Наименование предлагаемого товара: </b>
                <p id="modal-proposed_product_name"></p></div>
            <div><b>Поставщик: </b>
                <p id="modal-supplier"></p></div>
            <div><b>Цена без скидки : </b>
                <p id="modal-price_without_discount"></p></div>
            <div><b>Скидка от поставщика : </b>
                <p id="modal-supplier_discount"></p></div>
            <div><b>Цена со скидкой : </b>
                <p id="modal-price_with_discount"></p></div>
            <div><b>НДС : </b>
                <p id="modal-vat"></p></div>
            <div><b>Примечание : </b>
                <p id="modal-note"></p></div>
            <div><b>Менеджер : </b>
                <p id="modal-manager"></p></div>
            <div><b>Цена закупа : </b>
                <p id="modal-purchase_price"></p></div>
            <div><b>Дата : </b>
                <p id="modal-date"></p></div>
            <div><b>Крайний срок : </b>
                <p id="modal-deadline"></p></div>
            <div><b>Вид закупа : </b>
                <p id="modal-procurement_type"></p></div>
            <div><b>Ссылка на бумажное объявление : </b>
                <a href="https://okbkar.kz/ru/gosudarstvennye-zakupki/631-tender-ot-22-12-2022.html"
                   style="text-decoration: none">
                    <p id="modal-paper_ad_link"></p>
                </a></div>
            <div><b>Коэффицент доставки : </b>
                <p id="modal-profit_rate"></p></div>
            <div><b>Коэффицент прибыли : </b>
                <p id="modal-delivery_rate"></p></div>
            <div><b>Цена закупа за ед. : </b>
                <p id="modal-purchase_price_per_unit"></p></div>
            <div><b>Цена подачи за ед. : </b>
                <p id="modal-bidding_price_per_unit"></p></div>
            <div><b>Цена бюджета за ед. : </b>
                <p id="modal-budget_price_per_unit"></p></div>
            <div><b>Общая прибыль проекта : </b>
                <p id="modal-overall_profit"></p></div>
            <div><b>Общая сумма закупа : </b>
                <p id="modal-overall_purchase_amount"></p></div>
            <div><b>Общая сумма договора : </b>
                <p id="modal-overall_contract_amount"></p></div>
            <div><b>Выигрышная цена : </b>
                <p id="modal-winning_price"></p></div>
            <div><b>Статус Объявления : </b>
                <p id="modal-status"></p></div>
            <button class="btn btn-sm btn-primary edit-tender">Редактировать</button>
            <button class="btn btn-sm btn-success save-tender" style="display: none;">Сохранить</button>
        </div>
    </div>
</div>


{% else %}
<p class="no_tenders mt-3">Объявления не добавлены</p>
{% endif %}
{% if is_paginated %}
{% include 'partial/pagination.html' %}
{% endif %}
{% endblock %}