<!DOCTYPE html>
<html>
<head>
    <title>Similar Products</title>
</head>
<body>
    <h1>Подходящие товары по МНН для: {{ tender.lot.name_ru }}</h1>
    {% if selected_product %}
    <h2>Выбранный товар:</h2>
        <p>Торговое наименование: {{ selected_product.trade_name }}</p>
        <p>Производитель: {{ selected_product.producer }}</p>
        <p>Страна производителя: {{ selected_product.country }}</p>
        <p>Дата регистрации: {{ selected_product.register_date }}</p>
    {% endif %}
    <form method="POST" action="{% url 'selected_product' %}">
        {% csrf_token %}
        <input type="hidden" name="tender_id" value="{{ tender.id }}">
        <table>
            <thead>
                <tr>
                    <th>Торговое наименование</th>
                    <th>Производитель</th>
                    <th>Страна производителя</th>
                    <th>Дата регистрации</th>
                    <th>Выбрать</th>
                </tr>
            </thead>
            <tbody>
                {% for product in product_list %}
                <tr>
                    <td>{{ product.trade_name }}</td>
                    <td>{{ product.producer }}</td>
                    <td>{{ product.country }}</td>
                    <td>{{ product.register_date }}</td>
                    <td>
                        <input type="radio" name="selected_product" value="{{ product.id }}"
                               {% if selected_product and selected_product.id == product.id %}checked{% endif %}>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <button type="submit" name="action" value="choose">Выбрать</button>
        <button type="submit" name="action" value="save">Сохранить</button>
    </form>
</body>
</html>
